:root {
  --main-color: #102746;
  --main-bgc: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--main-color);
  background-color: var(--main-bgc);
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  position: relative;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

figure {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  position: relative;
  width: 1262px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid crimson;
}

.btn {
  position: relative;
  max-width: 250px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-bgc);
  background-color: #1B7DFF;
  border: 1px solid var(--accent-bg-cl);
  border-radius: var(--btn-radius);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 90px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 82px;
}

.menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-bgc);
}

.hero__title {
  width: 619px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--main-bgc);
  margin-bottom: 22px;
}

.hero__description {
  width: 546px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-bgc);
  margin-bottom: 60px;
}

.hero {
  max-width: 1482px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #979797;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 66, 103, 0.5019607843)), to(rgba(21, 24, 36, 0.6470588235))), url("../img/main-image.jpg");
  background-image: linear-gradient(to bottom, rgba(53, 66, 103, 0.5019607843), rgba(21, 24, 36, 0.6470588235)), url("../img/main-image.jpg");
}

.hero-container {
  padding-top: 263px;
  padding-bottom: 372px;
  padding-left: 90px;
}

.hero__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.hero-check {
  width: 297px;
  padding: 0 20px 22px 43px;
  border-bottom: 2px solid #BFC0C5;
}

.hero-check__input {
  position: relative;
}

.hero-check__box {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.hero-check__box--second {
  left: 360px;
}

.hero-check__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.hero-check__input:checked ~ .hero-check__box {
  background-color: #1B7DFF;
}

.hero__button {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 39px;
}

.benefits {
  margin-bottom: 131px;
}

.benefits__container {
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: -223px;
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #fff;
  padding: 93px 0 88px 99px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  padding: 32px 100px 112px;
}

.benefits__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 37px 0 26px;
}

.benefits__text-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 39px;
}

.benefits__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 60px;
  background: url(../img/arrow.svg) no-repeat 95% center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.benefits__link:hover, .benefits__link:focus {
  background: url(../img/arrow.svg) no-repeat right center;
  font-weight: 700;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.places {
  margin-bottom: 131px;
}

.places__container {
  overflow: hidden;
}

.places__title {
  position: relative;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.places__title::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  display: block;
  content: "";
  width: 250px;
  height: 3px;
  border-radius: 1px;
  background-color: #006DFE;
}

.places__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
}

.places__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: 700;
}

.places__svg {
  width: 33px;
}

.places__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
  margin-bottom: 36px;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__card {
  position: relative;
}

.places__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}

.places__card--size-lg {
  grid-column: span 3;
}

.places__card--size-sm {
  grid-column: span 2;
}

.places__card-img {
  width: 100%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.places__card-img--size-lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card-img--size-sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.tours {
  margin-bottom: 139px;
}

.tours__container {
  overflow: hidden;
}

.tours__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 77px 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__info {
  padding-left: 45px;
}

.tour__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 86px;
}

.tour__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.top {
  margin-bottom: 86px;
}

.top__title {
  margin-bottom: 54px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top__card {
  position: relative;
}

.top__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-right: auto;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../img/heart-icon.svg) no-repeat right center;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/comment-icon.svg) no-repeat right center;
}/*# sourceMappingURL=main.css.map */