.footer {
    padding: 120px 0;
    background-color: #0E1D28;
}

.footer__logo {
  fill: #FFFF0099;
  position: absolute;
  top: -45px;

}
.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.footer__nav,
.footer__cities,
.footer__social {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
.footer__nav-link,
.footer__cities-link,
.footer__social-link  {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}
.footer__nav-title,
.footer__cities-title,
.footer__social-title {
    font-size: 22px;
    line-height: 34px;
    cursor: auto;
}
.footer__container {
    position: relative;
    padding: 0 180px;
    width: 1262px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}