.hero__title {
    width: 619px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    
    color: var(--main-bgc);
    margin-bottom: 22px;    
}
.hero__description {
    width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--main-bgc);    
    margin-bottom: 60px;
}
.hero {
    max-width: 1482px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;

    background-repeat: no-repeat;
    background-color: #979797;
    background-image: linear-gradient(to bottom, #35426780, #151824a5),
        url("img/main-image.jpg");
}
.hero-container {
    padding-top: 263px;
    padding-bottom: 372px;
    padding-left: 90px;
}
.hero__wrapper {
    position: relative;
    display: flex;
    gap: 60px;
}
.hero-check {
    width: 297px;
    padding: 0 20px 22px 43px;
    border-bottom: 2px solid #BFC0C5;
}
.hero-check__input {
    position: relative;
}
.hero-check__box {
    position: absolute;
    left: 0;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;

}
.hero-check__box--second {
    left: 360px;
}
.hero-check__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;    
}
.hero-check__input {
    &:checked {
        ~ .hero-check__box {
            background-color: #1B7DFF;
        }
    }
}
.hero__button {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;  
    padding: 15px 39px;  
}



// .form-check__input {
//     &:checked {
//       ~.form-check__icon {
//         fill: var(--button);
//       }
//       ~.form-check__box {
//         border: 2px solid var(--button);
//       }
//     }
//   }