.places__container {
    overflow: hidden;
}
.places__title {
    position: relative;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #102746;  
    
}
.places__title::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    content: '';
    width: 250px;
    height: 3px;
    border-radius: 1px;
    background-color: #006DFE;

}
.places__link {
    display: flex;
    gap: 25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #006DFE;    

}
.places__svg {
    width: 33px;
}
.places__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
    margin-bottom: 36px;
}