.places {
    margin-bottom: 131px;
}
.places__container {
    overflow: hidden;
}
.places__title {
    position: relative;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #102746;  
    
}
.places__title::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    content: '';
    width: 250px;
    height: 3px;
    border-radius: 1px;
    background-color: #006DFE;

}
.places__link {
    display: flex;
    gap: 25px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #006DFE;    

}
.places__link:hover {
    transform: scale(1.1);
    font-weight: 700;
}
.places__svg {
    width: 33px;
}
.places__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
    margin-bottom: 36px;
}
.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}
.places__card {
    position: relative;
}
.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15182466;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}
.places__card-title {
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #fff;

}
.places__card--size-lg {
    grid-column: span 3;
}
.places__card--size-sm {
    grid-column: span 2;
}
.places__card-img {
    width: 100%;
    
    transition: 0.2s all;

} 
.places__card-img--size-lg {
    height: 354px;
    object-fit: cover;
}
.places__card-img--size-sm {
    height: 283px;
    object-fit: cover;
}

.places__card:hover {
    transform: scale(1.05);
    transition: 0.4s all;
}